{% extends "urun/base.html" %}

{% block title %}Öneri Listesi{% endblock %}

{% block content %}
    <form id="searchform" action="{% url 'product-list-search' %}" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Öneri Ara!">
    </form>

    <h3>Öneri Listesi</h3>
    <div class="list-group">
        {% for product in object_list %}
            {% if product.image.url != Null %}
              <a href="{% url "product-detail" pk=product.pk %}" class="list-group-item"> <img src="{{product.image.url}}" alt="" width="40"> {{product.name}}  {{product.created_date | date:"d-m-Y" }}</a>
            {% else %}
                <a href="{% url "product-detail" pk=product.pk %}" class="list-group-item"> {{product.name}}  {{product.created_date | date:"d-m-Y" }}</a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}