{% extends "urun/base.html" %}

{% block title %}Ürün detay sayfası{% endblock %}

{% block content %}

    <h3>{{ object.name }}</h3>
<img src="{{object.image.url}}" alt="" width="100"><br>
Tanım: {{ object.description }}<br>
price :{{ object.price }}
performance :{{ object.performance }}
design :{{ object.design }}<br>
<button>Like</button>{{ object.like }}
<button>Dislike</button>{{ object.dislike }}<br>
    <br>
<a href="{% url "comment-add" pk=object.id %}">Öneriye yorum ekle</a><br>
<a href="{% url "product-update" pk=object.id %}">Öneri güncelle</a><br>
<a href="{% url "product-delete"  object.id %}">Sil</a><br>
    <hr>
<h4>Öneri için yazılan yorumlar aşağıdadır.</h4>
<hr>
    {% for comment in object.comments.all %}
        <p>
            {{comment.content}} <br>
            {{comment.created_date|date:"m-d-Y"}} <br>
            <button>Like</button> {{comment.like}}
            <button>Dislike</button> {{comment.dislike}} <br>
        </p>
        <hr>
    {% endfor %}


{% endblock %}