{% extends "urun/base.html" %}
{% load bootstrap3 %}

{% block title %}Ürün detay sayfası{% endblock %}

{% block content %}

    <h3>{{ object.name }}</h3>
    {% if object.image.url != Null %}
        <img src="{{object.image.url}}" alt="" width="100"><br><br>
    {% else %}
        Resim Yüklü Değil <br>
    {% endif %}


    Ürün açıklaması:
    <div class="well well-lg">
      {{ object.description }}
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-default" style="width: {% widthratio object.price 1 20 %}%">Fiyat</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-default" style="width: {% widthratio object.performance 1 20 %}%">Performans</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-default" style="width: {% widthratio object.design 1 20 %}%">Tasarım</div>
    </div>
    <br>

    Like:<a class="btn btn-success" onclick="like(true, {{ object.id }})" id="like_{{object.id}}"> {{ object.like }}</a>
    Dislike:<a class="btn btn-danger" onclick="dislike(true, {{ object.id }})" id="dislike_{{object.id}}"> {{ object.dislike }}</a>


        <br><br>
    <a href="{% url "comment-add"  pk=object.id %}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Yorum Ekle</a>
    <a href="{% url "product-update"  pk=object.id %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Öneriyi Güncelle</a>
    <a href="{% url "product-delete"  object.id %}" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Sil</a>
        <hr>
    <h4>Öneri için yazılan yorumlar aşağıdadır.</h4>
    <hr>
        {% for comment in object.comments.all %}
            <p>
                <div class="well well-sm">
                    {{comment.content}} <br>
                    {{comment.created_date|date:"m-d-Y"}}
                </div>
                Like:<a class="btn btn-success" onclick="comment_like(true, {{ comment.id }})" id="like_{{comment.id}}"> {{ comment.like }}</a>
                Dislike:<a class="btn btn-danger" onclick="comment_dislike(true, {{ comment.id }})" id="dislike_{{comment.id}}"> {{ comment.dislike }}</a>
            </p>
            <hr>
        {% endfor %}


<script>
    function like(param, id) {
        $.post(
            "{% url "like_dislike" %}",
            {
                "like": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            function (data) {
                $("#like_" + data.id).text(data.like)
            },
            "json"
        )
    }
        function dislike(param, id) {
        $.post(
            "{% url "dislike" %}",
            {
                "dislike": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            function (data) {
                $("#dislike_" + data.id).text(data.dislike)
            },
            "json"
        )
    }

            function comment_like(param, id) {
        $.post(
            "{% url "comment_like" %}",
            {
                "like": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            function (data) {
                $("#like_" + data.id).text(data.like)
            },
            "json"
        )
    }

            function comment_dislike(param, id) {
        $.post(
            "{% url "comment_dislike" %}",
            {
                "dislike": param,
                "id": id,
                "csrfmiddlewaretoken": getCookie('csrftoken')
            },
            function (data) {
                $("#dislike_" + data.id).text(data.dislike)
            },
            "json"
        )
    }
</script>


{% endblock %}